* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: lightcyan;
    padding: 3px;
    text-align: center;
    font-size: 15px;
    color: slateblue;
}
input[type=text] {
    width: 20%;
    padding: 4px 12px;
    margin: 8px 0;
    box-sizing: border-box;    
}
#division {
    background-color:blanchedalmond;
   
    align-items: center;
    font-size: 12px;
}
#outcome {
    /*font-size: 15px;*/
    color: darkred;
    font-weight: bold;
}

